<a href="https://colab.research.google.com/github/SajjadMustafa10/DeepLearning/blob/main/Assignment%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# M.Mujtaba Cs182020
### Customer Churning Using Deep Learning
Dataset Link: https://www.kaggle.com/datasets/blastchar/telco-customer-churn

Churn = customers lost over a period of time
For detailed data exploring, check this article: https://towardsdatascience.com/churn-prediction-with-machine-learning-ca955d52bd8c

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/SajjadMustafa10/DeepLearning/main/Churn_Modelling.csv")
df.sample(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
1443,1444,15598751,Ingram,556,France,Female,43,6,0.00,3,0,0,125154.57,1
3494,3495,15568120,Lacross,681,France,Female,37,7,69609.85,1,1,1,72127.83,0
9501,9502,15634146,Hou,835,Germany,Male,18,2,142872.36,1,1,1,117632.63,0
1537,1538,15732448,Stewart,821,France,Female,28,8,0.00,1,1,1,36754.13,0
2858,2859,15662434,Zhdanova,607,France,Male,25,3,0.00,2,0,0,187048.72,0
5821,5822,15643188,Barnett,671,Germany,Female,47,7,114603.76,2,1,0,153194.32,1
903,904,15786014,Ku,568,France,Male,28,5,145105.64,2,1,0,185489.11,0
7058,7059,15671769,Zikoranachidimma,624,France,Female,71,4,170252.05,3,1,1,73679.59,1
3640,3641,15603665,Colombo,638,Germany,Female,39,0,122501.28,2,1,1,95007.80,0
7842,7843,15702416,Cecil,734,France,Male,43,7,107805.67,1,0,0,182505.68,0

In [4]:
df.drop(columns=['RowNumber','CustomerId', 'Surname'],axis='columns',inplace=True)

In [5]:
df.dtypes

CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [6]:
df.EstimatedSalary.values

array([101348.88, 112542.58, 113931.57, ...,  42085.58,  92888.52,
        38190.78])

In [7]:
pd.to_numeric(df.EstimatedSalary)

0       101348.88
1       112542.58
2       113931.57
3        93826.63
4        79084.10
          ...
9995     96270.64
9996    101699.77
9997     42085.58
9998     92888.52
9999     38190.78
Name: EstimatedSalary, Length: 10000, dtype: float64

In [8]:
def print_unique_col_values(df):
  for column in df:
    if df[column].dtypes=='object':
      print(f'{column}: {df[column].unique()}')

In [9]:
print_unique_col_values(df)

Geography: ['France' 'Spain' 'Germany']
Gender: ['Female' 'Male']

In [10]:
df['Gender'].replace({'Female':1,'Male':0},inplace=True)

In [11]:
for col in df:
  print(f'{col}: {df[col].unique()}')

CreditScore: [619 608 502 699 850 645 822 376 501 684 528 497 476 549 635 616 653 587
 726 732 636 510 669 846 577 756 571 574 411 591 533 553 520 722 475 490
 804 582 472 465 556 834 660 776 829 637 550 698 585 788 655 601 656 725
 511 614 742 687 555 603 751 581 735 661 675 738 813 657 604 519 664 678
 757 416 665 777 543 506 493 652 750 729 646 647 808 524 769 730 515 773
 814 710 413 623 670 622 785 605 479 685 538 562 721 628 668 828 674 625
 432 770 758 795 686 789 589 461 584 579 663 682 793 691 485 650 754 535
 716 539 706 586 631 717 800 683 704 615 667 484 480 578 512 606 597 778
 514 525 715 580 807 521 759 516 711 618 643 671 689 620 676 572 695 592
 567 694 547 594 673 610 767 763 712 703 662 659 523 772 545 634 739 771
 681 544 696 766 727 693 557 531 498 651 791 733 811 707 714 782 775 799
 602 744 588 747 583 627 731 629 438 642 806 474 559 429 680 749 734 644
 626 649 805 718 840 630 654 762 568 613 522 737 648 443 640 540 460 593
 801 611 802 745 483 690 492 709 705 560 752 701 537 487 596 702 486 724
 548 464 790 534 748 494 590 468 509 818 816 536 753 774 621 569 658 798
 641 542 692 639 765 570 638 599 632 779 527 564 833 504 842 508 417 598
 741 607 761 848 546 439 755 760 526 713 700 666 566 495 688 612 477 427
 839 819 720 459 503 624 529 563 482 796 445 746 786 554 672 787 499 844
 450 815 838 803 736 633 600 679 517 792 743 488 421 841 708 507 505 456
 435 561 518 565 728 784 552 609 764 697 723 551 444 719 496 541 830 812
 677 420 595 617 809 500 826 434 513 478 797 363 399 463 780 452 575 837
 794 824 428 823 781 849 489 431 457 768 831 359 820 573 576 558 817 449
 440 415 821 530 350 446 425 740 481 783 358 845 451 458 469 423 404 836
 473 835 466 491 351 827 843 365 532 414 453 471 401 810 832 470 447 422
 825 430 436 426 408 847 418 437 410 454 407 455 462 386 405 383 395 467
 433 442 424 448 441 367 412 382 373 419]
Geography: ['France' 'Spain' 'Germany']
Gender: [1 0]
Age: [42 41 39 43 44 50 29 27 31 24 34 25 35 45 58 32 38 46 36 33 40 51 61 49
 37 19 66 56 26 21 55 75 22 30 28 65 48 52 57 73 47 54 72 20 67 79 62 53
 80 59 68 23 60 70 63 64 18 82 69 74 71 76 77 88 85 84 78 81 92 83]
Tenure: [ 2  1  8  7  4  6  3 10  5  9  0]
Balance: [     0.    83807.86 159660.8  ...  57369.61  75075.31 130142.79]
NumOfProducts: [1 3 2 4]
HasCrCard: [1 0]
IsActiveMember: [1 0]
EstimatedSalary: [101348.88 112542.58 113931.57 ...  42085.58  92888.52  38190.78]
Exited: [1 0]

In [12]:
df1 = pd.get_dummies(data=df, columns=['Geography'])
df1.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [13]:
df1.sample(10)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
5839,594,0,40,0,152092.44,2,1,1,83508.93,0,0,1,0
8595,758,1,23,5,122739.10,1,1,0,102460.84,1,0,1,0
5509,597,0,33,9,0.00,2,1,0,49374.82,0,1,0,0
9385,687,0,44,8,95368.14,2,1,1,1787.85,0,0,1,0
7274,652,1,34,6,97435.85,2,1,1,104331.76,0,1,0,0
30,591,1,39,3,0.00,3,1,0,140469.38,1,0,0,1
7807,608,0,34,3,106288.54,1,1,1,36639.25,0,0,1,0
5546,786,0,32,9,0.00,2,1,0,133112.41,0,1,0,0
4996,500,0,44,9,160838.13,2,1,0,196261.64,0,0,1,0
807,628,0,69,5,0.00,2,1,1,181964.60,0,1,0,0

In [14]:
cols_to_scale = ['CreditScore','Balance','EstimatedSalary', 'Age', 'Tenure', 'NumOfProducts']

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df1[cols_to_scale] = scaler.fit_transform(df1[cols_to_scale])

In [ ]:
df1.sample(5)

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
2562,0.826,1,0.540541,0.9,0.748956,0.000000,0,1,0.179085,0,1,0,0
2973,0.482,1,0.513514,0.9,0.513685,0.000000,1,1,0.981246,1,1,0,0
3648,0.390,0,0.391892,0.8,0.421655,0.000000,0,1,0.339125,1,1,0,0
4098,0.574,0,0.189189,0.5,0.000000,0.000000,0,0,0.743859,0,1,0,0
9022,0.724,0,0.067568,0.2,0.000000,0.333333,0,1,0.333953,0,1,0,0

In [15]:
X = df1.drop('Exited',axis='columns')
y = df1['Exited']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [16]:
X_train.shape,X_test.shape,X_train[:10]

((8000, 12),
 (2000, 12),
       CreditScore  Gender       Age  Tenure   Balance  NumOfProducts  \
 7751        0.800       1  0.283784     0.6  0.000000       0.333333
 4154        0.752       0  0.216216     0.3  0.000000       0.333333
 3881        0.476       1  0.621622     0.3  0.000000       0.000000
 9238        0.846       1  0.432432     0.4  0.000000       0.333333
 5210        0.402       0  0.229730     0.7  0.517012       0.333333
 7487        0.602       1  0.513514     0.4  0.000000       0.000000
 7542        0.314       1  0.216216     0.4  0.000000       0.333333
 7524        0.620       1  0.297297     0.8  0.666330       0.000000
 9412        0.750       0  0.108108     0.6  0.393324       0.000000
 6377        0.684       0  0.202703     0.9  0.000000       0.000000

       HasCrCard  IsActiveMember  EstimatedSalary  Geography_France  \
 7751          0               0         0.096273                 0
 4154          1               0         0.981478                 1
 3881          1               1         0.948551                 1
 9238          1               0         0.646869                 1
 5210          0               0         0.434670                 1
 7487          0               0         0.421898                 1
 7542          1               1         0.303413                 0
 7524          1               1         0.925815                 1
 9412          0               0         0.668609                 1
 6377          1               0         0.567526                 1

       Geography_Germany  Geography_Spain
 7751                  0                1
 4154                  0                0
 3881                  0                0
 9238                  0                0
 5210                  0                0
 7487                  0                0
 7542                  0                1
 7524                  0                0
 9412                  0                0
 6377                  0                0  )

In [17]:
import tensorflow as tf
from tensorflow import keras

model = keras.Sequential([
    keras.layers.Dense(12, input_shape=(12,), activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=150)

Epoch 1/150
250/250 [==============================] - 4s 2ms/step - loss: 0.5117 - accuracy: 0.7847
Epoch 2/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4765 - accuracy: 0.7997
Epoch 3/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4631 - accuracy: 0.8033
Epoch 4/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4546 - accuracy: 0.8069
Epoch 5/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4478 - accuracy: 0.8111
Epoch 6/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4430 - accuracy: 0.8126
Epoch 7/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4388 - accuracy: 0.8115
Epoch 8/150
250/250 [==============================] - 0s 2ms/step - loss: 0.4368 - accuracy: 0.8126
Epoch 9/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4342 - accuracy: 0.8130
Epoch 10/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4326 - accuracy: 0.8134
Epoch 11/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4310 - accuracy: 0.8139
Epoch 12/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4295 - accuracy: 0.8152
Epoch 13/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4281 - accuracy: 0.8142
Epoch 14/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4263 - accuracy: 0.8158
Epoch 15/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4251 - accuracy: 0.8177
Epoch 16/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4226 - accuracy: 0.8174
Epoch 17/150
250/250 [==============================] - 1s 3ms/step - loss: 0.4206 - accuracy: 0.8174
Epoch 18/150
250/250 [==============================] - 1s 3ms/step - loss: 0.4177 - accuracy: 0.8183
Epoch 19/150
250/250 [==============================] - 1s 3ms/step - loss: 0.4140 - accuracy: 0.8195
Epoch 20/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4103 - accuracy: 0.8207
Epoch 21/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4059 - accuracy: 0.8229
Epoch 22/150
250/250 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8226
Epoch 23/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3967 - accuracy: 0.8251
Epoch 24/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3924 - accuracy: 0.8285
Epoch 25/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3886 - accuracy: 0.8296
Epoch 26/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3850 - accuracy: 0.8310
Epoch 27/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3824 - accuracy: 0.8332
Epoch 28/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3795 - accuracy: 0.8355
Epoch 29/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3769 - accuracy: 0.8372
Epoch 30/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3751 - accuracy: 0.8379
Epoch 31/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3728 - accuracy: 0.8384
Epoch 32/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3712 - accuracy: 0.8386
Epoch 33/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3699 - accuracy: 0.8393
Epoch 34/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3684 - accuracy: 0.8419
Epoch 35/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3670 - accuracy: 0.8419
Epoch 36/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3661 - accuracy: 0.8411
Epoch 37/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3650 - accuracy: 0.8421
Epoch 38/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3641 - accuracy: 0.8438
Epoch 39/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3631 - accuracy: 0.8445
Epoch 40/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3617 - accuracy: 0.8464
Epoch 41/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3613 - accuracy: 0.8451
Epoch 42/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3607 - accuracy: 0.8462
Epoch 43/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3600 - accuracy: 0.8460
Epoch 44/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3592 - accuracy: 0.8461
Epoch 45/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3587 - accuracy: 0.8462
Epoch 46/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3573 - accuracy: 0.8500
Epoch 47/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3566 - accuracy: 0.8486
Epoch 48/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3563 - accuracy: 0.8485
Epoch 49/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3555 - accuracy: 0.8509
Epoch 50/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3553 - accuracy: 0.8485
Epoch 51/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3545 - accuracy: 0.8493
Epoch 52/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3543 - accuracy: 0.8499
Epoch 53/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3541 - accuracy: 0.8490
Epoch 54/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3534 - accuracy: 0.8508
Epoch 55/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3532 - accuracy: 0.8511
Epoch 56/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3522 - accuracy: 0.8524
Epoch 57/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3519 - accuracy: 0.8514
Epoch 58/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3520 - accuracy: 0.8522
Epoch 59/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3518 - accuracy: 0.8519
Epoch 60/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3508 - accuracy: 0.8514
Epoch 61/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3507 - accuracy: 0.8530
Epoch 62/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3504 - accuracy: 0.8524
Epoch 63/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3497 - accuracy: 0.8549
Epoch 64/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3499 - accuracy: 0.8530
Epoch 65/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3498 - accuracy: 0.8550
Epoch 66/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3490 - accuracy: 0.8533
Epoch 67/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3492 - accuracy: 0.8533
Epoch 68/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3484 - accuracy: 0.8537
Epoch 69/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3481 - accuracy: 0.8549
Epoch 70/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3476 - accuracy: 0.8545
Epoch 71/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3478 - accuracy: 0.8551
Epoch 72/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3477 - accuracy: 0.8537
Epoch 73/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3475 - accuracy: 0.8562
Epoch 74/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3470 - accuracy: 0.8574
Epoch 75/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3467 - accuracy: 0.8566
Epoch 76/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3464 - accuracy: 0.8570
Epoch 77/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3464 - accuracy: 0.8560
Epoch 78/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3465 - accuracy: 0.8556
Epoch 79/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3458 - accuracy: 0.8572
Epoch 80/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3456 - accuracy: 0.8553
Epoch 81/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3458 - accuracy: 0.8554
Epoch 82/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3453 - accuracy: 0.8579
Epoch 83/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3459 - accuracy: 0.8564
Epoch 84/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3453 - accuracy: 0.8571
Epoch 85/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3451 - accuracy: 0.8553
Epoch 86/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3450 - accuracy: 0.8572
Epoch 87/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3445 - accuracy: 0.8569
Epoch 88/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3445 - accuracy: 0.8579
Epoch 89/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3443 - accuracy: 0.8574
Epoch 90/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3443 - accuracy: 0.8584
Epoch 91/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3444 - accuracy: 0.8586
Epoch 92/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3445 - accuracy: 0.8560
Epoch 93/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3440 - accuracy: 0.8583
Epoch 94/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3434 - accuracy: 0.8575
Epoch 95/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3443 - accuracy: 0.8580
Epoch 96/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3434 - accuracy: 0.8596
Epoch 97/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3432 - accuracy: 0.8605
Epoch 98/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3433 - accuracy: 0.8586
Epoch 99/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3424 - accuracy: 0.8590
Epoch 100/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3434 - accuracy: 0.8576
Epoch 101/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3430 - accuracy: 0.8602
Epoch 102/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3425 - accuracy: 0.8576
Epoch 103/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3429 - accuracy: 0.8585
Epoch 104/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3423 - accuracy: 0.8587
Epoch 105/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3424 - accuracy: 0.8584
Epoch 106/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3424 - accuracy: 0.8587
Epoch 107/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3424 - accuracy: 0.8602
Epoch 108/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3425 - accuracy: 0.8584
Epoch 109/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3419 - accuracy: 0.8599
Epoch 110/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3425 - accuracy: 0.8562
Epoch 111/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3420 - accuracy: 0.8593
Epoch 112/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3414 - accuracy: 0.8601
Epoch 113/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3416 - accuracy: 0.8595
Epoch 114/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3414 - accuracy: 0.8605
Epoch 115/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3415 - accuracy: 0.8593
Epoch 116/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3414 - accuracy: 0.8605
Epoch 117/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3411 - accuracy: 0.8600
Epoch 118/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3414 - accuracy: 0.8599
Epoch 119/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3409 - accuracy: 0.8594
Epoch 120/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3418 - accuracy: 0.8591
Epoch 121/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3409 - accuracy: 0.8600
Epoch 122/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3407 - accuracy: 0.8601
Epoch 123/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3407 - accuracy: 0.8599
Epoch 124/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3408 - accuracy: 0.8610
Epoch 125/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3408 - accuracy: 0.8593
Epoch 126/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3402 - accuracy: 0.8619
Epoch 127/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3406 - accuracy: 0.8596
Epoch 128/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8608
Epoch 129/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3403 - accuracy: 0.8610
Epoch 130/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3403 - accuracy: 0.8606
Epoch 131/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3403 - accuracy: 0.8609
Epoch 132/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3404 - accuracy: 0.8594
Epoch 133/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3401 - accuracy: 0.8594
Epoch 134/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3405 - accuracy: 0.8616
Epoch 135/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3399 - accuracy: 0.8586
Epoch 136/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8633
Epoch 137/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3396 - accuracy: 0.8633
Epoch 138/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3394 - accuracy: 0.8609
Epoch 139/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3397 - accuracy: 0.8621
Epoch 140/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3400 - accuracy: 0.8595
Epoch 141/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3395 - accuracy: 0.8596
Epoch 142/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3389 - accuracy: 0.8619
Epoch 143/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3397 - accuracy: 0.8624
Epoch 144/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3396 - accuracy: 0.8616
Epoch 145/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3395 - accuracy: 0.8619
Epoch 146/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8612
Epoch 147/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8624
Epoch 148/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8610
Epoch 149/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3389 - accuracy: 0.8618
Epoch 150/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3390 - accuracy: 0.8626

In [19]:
yp = model.predict(X_test)
yp[:7]

array([[0.04222666],
       [0.05398393],
       [0.05369243],
       [0.0599218 ],
       [0.05621112],
       [0.10699788],
       [0.00931636]], dtype=float32)

In [20]:
y_pred = []
for element in yp:
  if element > 0.5:
    y_pred.append(1)
  else:
    y_pred.append(0)

In [21]:
y_pred[:7], y_test[:7]

([0, 0, 0, 0, 0, 0, 0], 7054    0
 442     0
 3954    0
 2288    0
 3196    0
 6178    0
 8351    0
 Name: Exited, dtype: int64)

In [22]:
from sklearn.metrics import confusion_matrix , classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.86      0.97      0.91      1595
           1       0.76      0.40      0.53       405

    accuracy                           0.85      2000
   macro avg       0.81      0.68      0.72      2000
weighted avg       0.84      0.85      0.83      2000